.searchWrapper {
    width :  388px;
    background : rgb(239 243 244);
    border-radius : 99px;
    display : flex;
    align-items : center;
    box-sizing:border-box;
    height: 52.4px;
    margin-top: 5px;
}
.searchWrapper:focus-within{
    border : .1px solid #1D9BF0;
    box-sizing:border-box
}

.searchInput{
    outline : none;
    font-size : 17.3px;
    background : #F2F2F2;
    border : none;
}