<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn{
            /* background-color: white; */
            padding : 15px 15px
        }
        div{
            width: 200px;
            height: 100px;
            background-color: rgb(231, 227, 227);
            display: flex;
            flex-wrap: nowrap;
        }
    </style>
</head>
<body>
    <div>
        <span class="btn">
            Vijendra
        </span>
    </div>
</body>
</html>